@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 210 12% 21%;
    --card: 0 0% 100%;
    --card-foreground: 210 12% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 12% 21%;
    --primary: 203 100% 45%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 60% 97%;
    --secondary-foreground: 203 100% 30%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 8.9% 64.9%;
    --accent: 200 100% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 85%;
    --input: 210 30% 96%;
    --ring: 203 100% 45%;
    --radius: 0.5rem;
    --dark-blue-hsl: 224 56% 22%;
  }

  .dark {
    --background: 224 56% 12%;
    --foreground: 210 40% 98%;
    --card: 224 56% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 224 56% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 203 100% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 224 56% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 56% 22%;
    --muted-foreground: 210 40% 98%;
    --accent: 200 100% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 224 56% 25%;
    --input: 224 56% 25%;
    --ring: 203 100% 55%;
    --dark-blue-hsl: 224 56% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .curved-header::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: hsl(var(--background));
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: scaleX(1.5);
    z-index: 1;
  }
}
